<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Test\Brands\Api\Data\BrandInterface" type="Test\Brands\Model\Brand" />
    <preference for="Test\Brands\Api\Data\BrandSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Test\Brands\Api\BrandRepositoryInterface" type="Test\Brands\Model\BrandRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="brands_brand_listing_data_source" xsi:type="string">Test\Brands\Model\ResourceModel\Brand\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!--<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">-->
        <!--<arguments>-->
            <!--<argument name="collections" xsi:type="array">-->
                <!--<item name="sales_order_grid_data_source" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Grid\Collection</item>-->
                <!--<item name="sales_order_invoice_grid_data_source" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Invoice\Grid\Collection</item>-->
                <!--<item name="sales_order_shipment_grid_data_source" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Shipment\Grid\Collection</item>-->
                <!--<item name="sales_order_creditmemo_grid_data_source" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Creditmemo\Grid\Collection</item>-->
                <!--<item name="sales_order_view_invoice_grid_data_source" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Invoice\Orders\Grid\Collection</item>-->
                <!--<item name="sales_order_view_shipment_grid_data_source" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Shipment\Order\Grid\Collection</item>-->
                <!--<item name="sales_order_view_creditmemo_grid_data_source" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Creditmemo\Order\Grid\Collection</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</type>-->
</config>
